h1 {
    background-color: aliceblue;
    border: 2px solid red;
    padding: 4px;
    text-align: center;
}
body {
    background-color: cadetblue;
button {
    background-color: goldenrod;
    border-radius: 3px;
    color: white;
    border:none
}